<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BetaJS ListContainer View</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="../../../../dist/beta.js"></script>
		<script src="../../../../dist/beta-ui.js"></script>
		<link rel="stylesheet" href="../../../../dist/beta-ui.css" type="text/css" />
		<script type="text/template" id="list-container-view-item-template">
			<div data-view-id="{%= cid %}"></div>
		</script>	
		<script>
			$(document).ready(function () {
				var ListContainerView = BetaJS.Views.View.extend("ListContainerView", {
					_templates: {
						"item": $("#list-container-view-item-template")
					},
					_notifications: {
						"addChild": "__addChildContainer",
						"removeChild": "__removeChildContainer"
					},
					_render: function () {
						this.$el.html("");
						BetaJS.Objs.iter(this.children(), function (child) {
							this.__addChildContainer(child);
						}, this);
					},
					__addChildContainer: function (child) {
						if (this.isActive())
							this.$el.append(this.getTemplate("item").evaluate({cid: child.cid()}));
						child.setEl("[data-view-id='" + child.cid() + "']");
					},
					__removeChildContainer: function (child) {
						this.$data("view-id", child.cid()).remove();
					}
				});
				var main = new ListContainerView({
					el: "#main"
				});
				var InputView = BetaJS.Views.View.extend("InputView", {
					constructor: function(options) {
						this._inherited(InputView, "constructor", options);
						this._setOption(options, "value", "");
					},
					_render: function () {
						this.$el.html("<input value='" + this.__value + "' />");
					},
					getValue: function () {
						return this.$el.find("input").val();
					},
					setValue: function (value) {
						this.$el.find("input").val(value);
					}
				});
				var ButtonView = BetaJS.Views.View.extend("ButtonView", {
					constructor: function(options) {
						this._inherited(ButtonView, "constructor", options);
						this._setOption(options, "label", "");
					},
					_render: function () {
						this.$el.html("<button>" + this.__label + "</button>");
					},
					_events: function () {
						return this._inherited(ButtonView, "_events").concat([{
							"click button": "__clickButton"
						}]);
					},
					__clickButton: function () {
						this.trigger("clicked");
					}
				});
				var ListView = BetaJS.Views.View.extend("ListView", {
					constructor: function(options) {
						this._inherited(ListView, "constructor", options);
						this._setOption(options, "items", []);
					},
					_render: function () {
						this.$el.html("<ul></ul>");
						var self = this;
						BetaJS.Objs.iter(this.__items, function (item) {
							self.$el.find("ul").append("<li>" + item + "</li>");
						});
					},
					add: function (item) {
						this.__items.push(item);
						//this.invalidate();
						this.$el.find("ul").append("<li>" + item + "</li>");
					}
				});
				var input = new InputView({
					value: "Text"
				});
				var button = new ButtonView({
					label: "Click Me"
				});
				var list = new ListView({
					css_styles: {color: "blue"},
					items: ["Example 1", "Example 2"]
				});
				main.addChildren([input, button, list]);
				button.on("clicked", function () {
					list.add(input.getValue());
					input.setValue("");
				});
				main.activate();
			});
		</script>
	</head>
	<body>
		<div id="main"></div>
	</body>
</html>