<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BetaJS Todo List</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="../../../dist/beta.js"></script>
		<link rel="stylesheet" href="../../../dist/beta-ui.css" type="text/css" />
		<script>
			$(document).ready(function () {
				var input = new BetaJS.Views.InputView({
					placeholder: "Enter here"
				});
				var list = new BetaJS.Views.SubViewListView({
					list_container_attrs: {
						style: "list-style-type: none; padding-left: 0px"
					},
					sub_view: BetaJS.Views.CheckBoxView,
					sub_view_options: function (item) {
						return {
							label: item.binding("text"),
							checked: item.binding("checked")
						};
					},
					compare: function (x, y) {
						return BetaJS.Types.compare(
							[x.get("checked"), x.get("text")],
							[y.get("checked"), y.get("text")]
						);
					},
					objects: [
						new BetaJS.Properties.BindableProperties({
							"text": "Send your mother flowers",
							"checked": false
						}),
					    new BetaJS.Properties.BindableProperties({
					    	"text": "Make some coffee",
					    	"checked": true
					    })]
				});
				list._addElement = function (element, is_new_item) {
					if (is_new_item) {
						element.css("display", "none");
						element.fadeIn();
					}
				};
				list._removeElement = function (element) {
					element.fadeOut(function () {
						element.remove();
					});
				};
				var main = new BetaJS.Views.ListContainerView({
					el: "body"
				});
				input.on("enter_key", function () {
					list.add(new BetaJS.Properties.BindableProperties({
						"text": input.get("value"),
						"checked": false
					}));
					input.set("value", "");
				});
				main.addChildren([input, list]);
				main.activate();
			});
		</script>
	</head>
	<body>
	</body>
</html>