<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BetaJS Holygrail View</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="../../../dist/beta.js"></script>
		<script src="../../../dist/beta-ui.js"></script>
		<link rel="stylesheet" href="../../../dist/beta-ui.css" type="text/css" />
		<script>
			$(document).ready(function () {
				var main = new BetaJS.Views.HolygrailView({
					el: "#main"
				});
				var InputView = BetaJS.Views.View.extend("InputView", {
					constructor: function(options) {
						this._inherited(InputView, "constructor", options);
						this._setOption(options, "value", "");
					},
					_render: function () {
						this.$el.html("<input value='" + this.__value + "' />");
					},
					getValue: function () {
						return this.$el.find("input").val();
					},
					setValue: function (value) {
						this.$el.find("input").val(value);
					}
				});
				var ListView = BetaJS.Views.View.extend("ListView", {
					constructor: function(options) {
						this._inherited(ListView, "constructor", options);
						this._setOption(options, "items", []);
					},
					_render: function () {
						this.$el.html("<ul></ul>");
						var self = this;
						BetaJS.Objs.iter(this.__items, function (item) {
							self.$el.find("ul").append("<li>" + item + "</li>");
						});
					},
					add: function (item) {
						this.__items.push(item);
						//this.invalidate();
						this.$el.find("ul").append("<li>" + item + "</li>");
					}
				});
				var input = new InputView({
					css_styles: {"background-color": "purple"},
					value: "Text"
				});
				var button = new BetaJS.Views.ButtonView({
					css_styles: {"background-color": "red"},
					label: "Click Me"
				});
				var list = new ListView({
					css_styles: {"background-color": "yellow"},
					items: ["Example 1", "Example 2"]
				});
				main.setLeft(input);
				main.setCenter(button);
				main.setRight(list);
				button.on("clicked", function () {
					list.add(input.getValue());
					input.setValue("");
				});
				main.activate();
			});
		</script>
	</head>
	<body>
		<div id="main"></div>
	</body>
</html>