<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BetaJS Dropdown View</title>
		<script src="../../jquery-1.9.1.min.js"></script>
		<script src="../../../dist/beta.js"></script>
		<link rel="stylesheet" href="../../../dist/beta-ui.css" type="text/css" />
		<style>
			button {
				height: 40px;
				margin: none;
				padding: none;
				border-width: 1px;
				
				background: white;
				border-style: solid;
				border-color: grey;
			}
		</style>
		<script>
			$(document).ready(function () {
				var dropdown = new BetaJS.Views.DropdownView({
					el: "body",
					el_styles: {"background-color": "red"},
					label: "Click Me",
				});
				dropdown.activate();
			});
		</script>
	</head>
	<body>
	</body>
</html>
