<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BetaJS Button View</title>
		<script src="../../jquery-1.9.1.min.js"></script>
		<script src="../../../dist/beta.js"></script>
		<link rel="stylesheet" href="../../../dist/beta-ui.css" type="text/css" />
		<script>
			$(document).ready(function () {
				var button = new BetaJS.Views.ButtonView({
					el: "body",
					el_styles: {"background-color": "red"},
					label: "Click Me",
				});
				button.on("click", function () {
					alert("This is an alert");
				});
				button.activate();
			});
		</script>
	</head>
	<body>
	</body>
</html>
