<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BetaJS Button View</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="../../../dist/beta.js"></script>
		<link rel="stylesheet" href="../../../dist/beta-ui.css" type="text/css" />
		<script>
			$(document).ready(function () {
				var main = new BetaJS.Views.HolygrailView({
					el: "#main",
				});
				var button = new BetaJS.Views.ButtonView({
					css_styles: {"background-color": "red"},
					label: "Click Me",
				});
				main.setCenter(button);
				button.on("clicked", function () {
					alert("This is an alert");
				});
				main.activate();
			});
		</script>
	</head>
	<body>
		<div id="main"></div>
	</body>
</html>