
.holygrail-view-left-container {
  position: relative;
  
  float: left;
  width: 20%;
  height: 100%
}

.holygrail-view-right-container {
  position: relative;
  
  float: right;
  width: 20%;
  height: 100%
}

.holygrail-view-center-container {
  position: relative;
  
  height: 100%;
  
  overflow: hidden;
  text-align: center;
}
