button {
  height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0 4px;
  border-width: 1px;
  
  background: transparent;
  color: inherit;
  
  border-style: solid;
  border-color: transparent;
  outline: none;
}
button:hover {
  color: black;
}
