<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="../../jquery-1.9.1.min.js"></script>
		<script src="../../../dist/beta.js"></script>
		<link rel="stylesheet" href="../../../dist/beta-ui.css" />
		<script>
			BetaJS.Views.ActiveDom.activate();
		</script>
		<style>
			.divider {
				background-color: black;
				min-width: 1px;
				max-width: 1px;
				width: 1px;
				margin-left: 2px;
				margin-right: 2px;
			}
			.group {
				padding: 2px 2px 2px 2px;
				margin-left: 1px;
				margin-right: 1px;
				border-left: 1px solid black;
				border-right: 1px solid black;
			}
			.toolbar {
				background-color: gray;
				padding: 1px 1px 1px 1px;
			}
			.selected {
				background-color: blue;
			}
		</style>
	</head>
	<body>
		<div id="toolbar"></div>
		<script>
			var view = new BetaJS.Views.ToolBarView({
				el: "#toolbar",
				el_classes: "toolbar",
				items: [{
					label: "B1G1",
					item_ident: "b1",
					item_group: "g1"
				}, {
					label: "B2G1",
					item_ident: "b2",
					item_group: "g1"
				}, {
					label: "B3G2",
					item_ident: "b3",
					item_group: "g2"
				}, {
					label: "B4G2",
					item_ident: "b4",
					item_group: "g2"
				}],
				groups: [{
					group_ident: "g1",
					group_options: {
						selectable: true,
						deselect_all: true,
						css: {
							selected: "selected"
						}
					}
				}, {
					group_ident: "g2"
				}]
			});
			view.activate();
			view.on("item:click", function (view, options) {
				alert(view.get("label") + ":" + options.item_ident);
			});
			view.on("item-b1:click", function (view, options) {
				alert("its b1");
			});
		</script>
	</body>
</html>