<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BetaJS Base Views</title>
		<script src="../jquery-1.9.1.min.js"></script>
		<script src="../../dist/beta.js"></script>
		<script type="text/template" id="test-view-template">
			<div>
				{%= label %}
			</div>
		</script>		
		<script>
			$(document).ready(function () {
				var TestView = BetaJS.Views.View.extend("TestView", {
					_templates: {
						"default": $("#test-view-template")
					},
					
					constructor: function (options) {
						this._inherited(TestView, "constructor", options);
						this._setOptionProperty(options, "label", "xyz");
					}
				});
				
				var test_view = new TestView({
					el: "body",
					label: "abc"
				});
				test_view.activate();
			});
		</script>
	</head>
	<body>
	</body>
</html>