<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BetaJS Template Views</title>
		<script src="../jquery-1.9.1.min.js"></script>
		<script src="../../dist/beta.js"></script>
		<script type="text/template" id="main-view-template">
			<div id='input'></div>
			<div id='button'></div>
			<div id='list'></div>
		</script>		
		<script type="text/template" id="button-view-template">
			<button>{%= label %}</button>
		</script>		
		<script type="text/template" id="list-view-template">
			<ul data-selector="inner"></ul>
		</script>		
		<script type="text/template" id="list-view-item-template">
			<li>{%= label %}</li>
		</script>		
		<script>
			$(document).ready(function () {
				var main = new BetaJS.Views.View({
					el: "#main",
					template: $("#main-view-template")
				});
				var ButtonView = BetaJS.Views.View.extend("ButtonView", {
					_templates: {
						"default": $("#button-view-template")
					},
					constructor: function(options) {
						this._inherited(ButtonView, "constructor", options);
						this._setOptionProperty(options, "label", "");
					},
					_events: function () {
						return this._inherited(ButtonView, "_events").concat([{
							"click button": "__clickButton"
						}]);
					},
					__clickButton: function () {
						this.trigger("click");
					}
				});
				var ListView = BetaJS.Views.View.extend("ListView", {
					_templates: {
						"default": $("#list-view-template"),
						"item": $("#list-view-item-template")
					},
					constructor: function(options) {
						this._inherited(ListView, "constructor", options);
						this._setOption(options, "items", []);
					},
					_render: function () {
						this.$el.html(this.templates("default").evaluate());
						var container = this.$("[data-selector='inner']");
						BetaJS.Objs.iter(this.__items, function (item) {
							container.append(this.templates("item").evaluate({label: item}));
						}, this);
					},
					add: function (item) {
						this.__items.push(item);
						this.$("[data-selector='inner']").append(this.templates("item").evaluate({label: item}));
					}
				});
				var input = new BetaJS.Views.InputView({
					el: "#input",
					placeholder: "Enter Text here"
				});
				var button = new ButtonView({
					el: "#button",
					label: "Click Me"
				});
				var list = new ListView({
					el_styles: {color: "blue"},
					el: "#list",
					items: ["Example 1", "Example 2"]
				});
				main.addChildren([input, button, list]);
				button.on("click", function () {
					list.add(input.get("value"));
					input.set("value", "");
				});
				main.activate();
			});
		</script>
	</head>
	<body>
		<div id="main"></div>
	</body>
</html>