
.input-button-outer {
  position: relative;
}

.input-button-inner {
  background-color: $inputBackground;
}

.input-position {
  position: relative;
  
  width: 95%;
  height: 63%;
  font-size: 100%;
}
