.fullscreen-overlay-background {
	background-color: white;
	opacity: 0.85;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10000;
	cursor: default;
}
.fullscreen-overlay {
	background-color: black;
	opacity: 1;
	z-index: 10001;
	padding: 8px 8px 8px 8px;
	position: relative;
}
.fullscreen-overlay-float {
	position: fixed !important;
}
.fullscreen-overlay-fit {
	position: fixed !important;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.fullscreen-overlay-body {
	overflow: hidden;
}
.fullscreen-overlay-inner {
	width: 100%;
	height: 100%;
}